// Global Styling
@import './fonts.scss';

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.blob {
  position: absolute;
  content: '';
  right: -24%;
  top: -5rem;
  transform: scale(1.5);
  width: 85%;
  height: 100vh;
  z-index: -1;
}

.explore-card:hover h1 {
  color: #11c7b3;
}

.banner {
  background-image: url('../public/images/banner.webp');
  background-size: 462%;
  background-repeat: no-repeat;
  background-position: top center;
}

.main {
  margin-top: 4.8rem;
}

.sidebar {
  width: 224px;
}

.mentions {
  width: 340px;
}

.shadowed {
  box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
}

.gradient {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

@screen xl {
  .banner {
    background-size: 200%;
  }
}

@screen 2xl {
  .sidebar {
    width: 224px;
  }

  .mentions {
    width: 400px;
  }
}
