// Global Styling
@import './fonts.scss';

body {
  overflow-x: hidden;
}

.blob {
  position: absolute;
  content: '';
  right: -24%;
  top: -5rem;
  transform: scale(1.5);
  width: 85%;
  height: 100vh;
  z-index: -1;
}

.explore-card:hover h1 {
  color: #11c7b3;
}

.banner {
  background-image: url('../public/images/banner.jpg');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: top center;
}
